---
# Used by the produce action
hosts: "172.16.1.10:9092"
client_id: "st2testclient_id"

# Used for the sensor
message_sensor:
  hosts: "172.16.1.10:9092"
  topics:
    - "test"
  group_id: "st2testgroup_id"
  client_id: "st2testclient_id"
